

.users{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 1.5rem;
}

.users__user{
	display: flex;
	justify-content: space-around;
	flex-basis: 200px;
	background-color: rgba(125, 252, 83, 0.608);
	width: 100%;
	max-width: 860px;
	padding: 10px;
	margin: 10px 0 10px 0;	
	height: 100%;
}

.user__avatar{
	min-width: 200px;
	// height: 100%;
	max-height: 200px;
	background-color: rgba(174, 37, 174, 0.3);
}



.user__data{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	margin: 0 10px 0 10px;
	height: 200px;
}
.user__data span{
	background-color: rgba(147, 113, 29,0.4);
	flex-grow: 1;
	margin: 5px;
}

/* .user__data div{
	background-color: rgba(147, 113, 29,0.4);
} */

.user__controls{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
}
.user__controls .btn{
	font-size: 1.5rem;
	margin: 5px;
}
