/* Сетка на флотах */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	background-color: rgba(255, 127, 80, 0.2);
	height: 100%;
	
}
.page {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	min-height: 100%;
	padding: 0;
}
.page__header {
	min-height: 15vh;
	height: 100%;
	background-color: darkorchid;
	margin-top: -2.8%;
}

.page__main {
	overflow: hidden;
	min-height: calc(100vh - 25vh);
	padding-top: 1.5%;
	margin-bottom: 1.5%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.section__column {
	background-color: aqua;
	min-height: 50vh;
	height: 100%;
	width: 32%;
	padding-bottom: 99999px;
	margin-bottom: -99999px;
}

.column__content{
	min-height: 50vh;
	height: 100%;
	padding: 0 10px 0 10px;
}

.section__column:not(:last-child) {
	margin-right: 2%;
}

.section__column:first-child {
	background-color: rgba(210, 105, 30, 0.5);
	float: left;
}
.section__column:nth-child(2) {
	background-color: rgba(51, 210, 30, 0.5);
	float: left;
}
.section__column:last-child {
	background-color: rgb(30, 129, 210, 0.5);
	float: right;
}

.page__footer {
	min-height: 10vh;
	height: 100%;
	background-color: mediumpurple;
	
}



