/* Сетка на инлайн-блоках */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	background-color: rgba(255, 127, 80, 0.3);
	height: 100%;
}
.page {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	min-height: 100%;
}
.page__header {
	min-height: 15vh;
	height: 100%;
	background-color: darkorchid;
}

.page__main {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 0;
	min-height: calc(100vh - 25vh);
}
.section__column {
	background-color: aqua;
	min-height: 50vh;
	height: 100%;
	display: inline-block;
	width: 32%;
	font-size: 12px;
	vertical-align: top;
}

.section__column:not(:last-child) {
	margin-right: 2%;
}

.section__column:first-child {
	background-color: rgba(210, 105, 30, 0.5);
}
.section__column:nth-child(2) {
	background-color: rgba(51, 210, 30, 0.5);
}
.section__column:last-child {
	background-color: rgb(30, 129, 210, 0.5);
}

.page__footer {
	min-height: 10vh;
	max-height: 100%;
	background-color: mediumpurple;
}
