.page__main {
	.section__column--left {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	// .form__selection {
	// 	// display: flex;
	// 	// justify-content: space-between;
	// 	width: 100%;
	// 	position: relative;
	// 	height: 50px;
	// 	overflow: hidden;
	// 	.btn {
	// 		position: absolute;
	// 		z-index: 2;
	// 		height: 40px;
	// 		left: -101%;
	// 		top: 0;
	// 		transition: 0.5s ease-in-out;
	// 	}
	// 	.btn--active {
	// 		top: 0;
	// 		left: 0;
	// 	}
	// }

	// .pop__up{
		
	// 	display: none;
	// }
	// .pop__up--active{
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	position: fixed;
	// 	top:0;
	// 	left: 0;
	// 	background-color: rgba(0, 0, 0, 0.7);
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// }

	// .pop__up--close{
	// 	position: absolute;
	// 	width: 30px;
	// 	height: 30px;
	// 	background-color: white;
	// 	top: -10px;
	// 	right: -10px;
	// 	font-size: 30px;
	// 	font-weight: bold;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	border: 1px solid black;
		
	// }
	// .initial__popup{
	// 	font-size: 18px;
	// 	color: white;
	// }
	// .initial__popup span{
	// 	text-decoration: underline;
	// 	font-weight: bold;
	// }

	// .initial__popup span:hover{
	// 	color: goldenrod;
	// 	cursor: pointer;
	// }

	// .form__container--registration {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// 	align-items: center;
	// 	width: 540px;
	// 	position: relative;
		
	// }

	// .form--registration {
	// 	width: 100%;
	// 	height: 500px;
	// 	position: relative;
	// 	z-index: 3;
	// 	overflow: hidden;
	// }

	// .fieldset--enter {
	// 	height: 280px;
	// 	display: flex;
	// 	flex-direction: column;
	// }
	// .fieldset--registration {
	// 	display: flex;
	// 	flex-direction: column;
	// 	height: 500px;
	// }

	// .fieldset--enter,
	// .fieldset--registration {
	// 	transition: 0.5s ease-in-out;
	// 	width: 100%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: -101%;
	// 	// display: none;
	// }
	// .fieldset--active {
	// 	// display: block;
	// 	top: 0;
	// 	left: 0;
	// }

	// .btn--login,
	// .btn--registration {
	// 	padding: 10px 10px;
	// }
	// .btn--enter,
	// .btn--submit {
	// 	background-color: rgba(3, 169, 244, 1);
	// 	color: white;
	// }
}
