<div class="input__wrapper">
	<form action="/upload" method="post" enctype="multipart/form-data" id="avatarForm">
		<input type="file" name="NAME" id="input__file" class="input input__file" multiple>
		<label for="input__file" class="input__file-button">
			<span class="input__file-icon-wrapper"><img class="input__file-icon" src="../img/icons/add2.png"
					alt="Выбрать файл" width="25"></span>
			<span class="input__file-button-text">Выберите файл</span>
			<button class=" btn--avatar" type="submit"></button>
		</label>
	</form>
</div>