<div class="users__user">
	<div class="user__avatar">
		<img class="avatar" alt="avatar" src="../img/avatar/dafaultAvatar.png">

		<!-- <div class="input__wrapper">
			<form action="/upload" method="post" enctype="multipart/form-data" id="avatarForm">
				<input type="file" name="NAME" id="input__file" class="input input__file" multiple>
				<label for="input__file" class="input__file-button">
					<span class="input__file-icon-wrapper"><img class="input__file-icon" src="../img/icons/add2.png"
							alt="Выбрать файл" width="25"></span>
					<span class="input__file-button-text">Выберите файл</span>
					<button class=" btn--avatar" type="submit"></button>
				</label>
			</form>
		</div> -->
	</div>
	<div class="user__data">
		<span class="user__name span" data-field="username"></span>
		<span class="user__email span" data-field="e-mail"></span>
		<span class="user__phone span" data-field="phone"></span>
		<span class="user__address span" data-field="address"></span>
		<span class="user__gender span" data-field="gender"></span>
		<span class="user__birth span" data-field="birth"></span>
	</div>
	<div class="user__controls">
		<button class="btn btn__controls--edit popup--open" data-key="yana@mail.ru">edit</button>
		<button class="btn btn__controls--delete popup--open" data-key="yana@mail.ru">delete</button>
	</div>
</div>