<div class="users__user">
	<div class="user__avatar">
		<img class="avatar" alt="avatar" src="../img/avatar/dafaultAvatar.png">
	</div>
	<div class="user__data">
		<span class="id span" data-field="id"></span>
		<span class="user__name span" data-field="username"></span>
		<span class="user__email span" data-field="email"></span>
		<span class="user__phone span" data-field="phone"></span>
		<span class="user__address span" data-field="address"></span>
		<span class="user__gender span" data-field="gender"></span>
		<span class="user__birth span" data-field="birth"></span>
	</div>
	<div class="user__controls">
		<button class="btn btn__controls--edit popup--open" data-key="yana@mail.ru">edit</button>
		<button class="btn btn__controls--delete popup--open" data-key="yana@mail.ru">delete</button>
	</div>
</div>