

.users{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 1.5rem;
}

.users__user{
	display: flex;
	justify-content: space-around;
	flex-basis: 200px;
	background-color: rgba(125, 252, 83, 0.608);
	width: 100%;
	max-width: 860px;
	padding: 10px;
	margin: 10px 0 10px 0;	
	// height: 100%;
}

.user__avatar{
	width: 100%;
	max-width: 200px;
	min-width: 100px;
	height: 100%;
	max-height: 200px;
	min-height: 100px;
	background-color: rgba(174, 37, 174, 0.3);
	position: relative;
	overflow: hidden;
	
	&:hover{
		.input__wrapper{
			transition: all ease .6s;
			bottom: 0;
			left: 0;
		}
	}
}

.avatar{
		// width: 100%;
		width: 200px;
		// min-width: 100px;
		// height: 100%;
		// max-height: 200px;
		// min-height: 100px;
		background-color: rgba(174, 37, 174, 0.3);
}



.user__data{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 400px;
	min-width: 200px;
	margin: 0 10px 0 10px;
	height: 200px;
}
.user__data span{
	background-color: rgba(147, 113, 29,0.4);
	flex-grow: 1;
	margin: 5px;
	font-size: 1rem;
	font-weight: normal;
	color: whitesmoke;
	text-decoration: none;
}


.user__controls{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
}
.user__controls .btn{
	font-size: 1rem;
	display: flex;
	justify-content: center;
	margin: 5px;
	width: 100%;
	max-width: 80px;
	
}




.input__wrapper {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: -60px;
	left: 0;
	transition: all ease .6s;
  }
   
  .input__file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
  }
   
  .input__file-icon-wrapper {
	height: 60px;
	width: 60px;
	margin-right: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	border-right: 1px solid #fff;
  }
   
  .input__file-button-text {
	line-height: 1;
	margin-top: 1px;
  }
   
  .input__file-button {
	width: 100%;
	max-width: 290px;
	height: 60px;
	background: #1bbc9b;
	opacity: 0.9;
	color: #fff;
	font-size: 1.125rem;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	border-radius: 3px;
	cursor: pointer;
	margin: 0 auto;
  }